.App {
    text-align: center;
}

body {
    background-color: rgb(152, 240, 255);
    margin: 0;
}

.previousCounterBox {
    text-align: left;
    background-color: rgb(196, 246, 255);
    margin: 20px;
    padding: 1px 6px;
}

h1 {
    width: 95%;
}

main {
    display: flex;
}

#allPreviousCounterBoxes {
    width: 20%;
    margin-top: 15px;
}

#buttonCounterBox {
    width: 95%;
    height: 85vh;
}

#counter {
    width: 100%;
    /*background-color:rgb(196, 246, 255);
    background-color: rgb(152, 240, 255);
    background: url("overthere_large.png")no-repeat center;
    background-size: cover;*/
    border: none;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#counter img {
    width: 50%;
    margin-top: 50px;
}

#counter img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#counter img:active {
    transform: scale(1.1);
}

#buttonetc {
    width: 80%;
}

#addData:hover {
    background-color: rgb(174, 234, 247);
}

#addData {
    background-color: rgb(196, 246, 255);
    margin: 30px;
    padding: 5px;
}

@media only screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
    #allPreviousCounterBoxes,
    #buttonetc {
        width: 80%;
        margin: 15px auto;
    }
    #allPreviousCounterBoxes {
        order: 1;
    }
}